@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --pr-font: Poppins;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}




header {
background: #616161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

position: fixed;
top: 0;
left: 0;
height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  transition: 0.6s;
  z-index: 100;
  margin-bottom: 6rem

}

header  ul{
    /* display: flex; */
    /* justify-content: flex-end; */
}