#navbar {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding-left: 4%;
  padding-right: 4%;
}

#options {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

#products {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  gap: 5%;
  padding: 6%;
}

#products img {
  width: 60%;
}
